* {
    margin: 0;
    padding: 0;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .bounds {
        border: 8px solid lime;
        li {
            margin-bottom: -4px;
            list-style-type: none;
        }
    }

}
